<!DOCTYPE html>
<html lang="en">

<%- include partials/header.ejs %>

<body>
    <%- include partials/navigation.ejs %>
    <div class="body-content">
        <div>
            <img id="stick-boxer" src="/static/assets/stick-boxer.jpg">
        </div>
        <div class="container">
            <form target="_blank" id="gform" enctype="multipart/form-data" action="https://script.google.com/macros/s/AKfycbw-r3gWDljQy8smhyLAy11yrFEmhT59HJ5ZBPuP1A/exec"
                method="post">
                <h3>Quick Contact</h3>
                <h4>Contact us today, and get reply with in 24 hours!</h4>
                <fieldset>
                    <input placeholder="Your name" type="text" tabindex="1" required autofocus>
                </fieldset>
                <fieldset>
                    <input placeholder="Your Email Address" type="email" tabindex="2" required>
                </fieldset>
                <fieldset>
                    <input name="subject" placeholder="Subject" type="subject" tabindex="3" required>
                </fieldset>
                <fieldset>
                    <textarea name="message" placeholder="Type your Message Here...." tabindex="5" required></textarea>
                </fieldset>
                <fieldset>
                    <button onclick="window.location.href='/home'" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
                </fieldset>
            </form>
        </div>
    </div>
</body>

</html>