#modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-container {
  background-color: #fff;
  padding: 0;
  width: 960px;
  height: 560px;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
  display: flex;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#modal-title {
  margin-top: 0;
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.25;
  color: #00449e;
  box-sizing: border-box;
}

.modal__close {
  background: transparent;
  border: 0;
}

#modal-container .modal__close:before { content: "\2715"; }

#modal-image {
  object-fit: cover;
  width: 50%;
  height: 100%;
}

#modal-content {
  padding: 32px;
  color: #000000;
  font-size: 0.9rem;
}

/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

.modal-slide {
  display: none;
}

.modal-slide.is-open {
  display: block;
}

.modal-slide[aria-hidden="false"] #modal-overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.modal-slide[aria-hidden="false"] #modal-container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.modal-slide[aria-hidden="true"] #modal-overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.modal-slide[aria-hidden="true"] #modal-container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.modal-slide #modal-container,
.modal-slide #modal-overlay {
  will-change: transform;
}